.landingnav ul li {
  display: inline-block;
  padding: 4px;
  margin: 2px auto;
}

.landingnav ul li a:hover {
    color: #e7464c;
}

.landingnav ul li a:highlight {
    color: #e7464c;
}

body {
  background-image: url("../background.jpg");
}

.textbody {
  margin-top: 80px;
}

a:link, a:visited {
  color: #e7464c;
}

a:hover {
  color: #474747;
}

p, .lolexploretext {
  width: 80%;
  margin: 20px auto;
  display: block;
}

h2 {
  padding-top: 25px;
}

img {
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
}

/* test */

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#layout {
	width: 1080px;
	height: 680;
}

#title, #filters, #infobar {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#title {
	text-align: center;
	height: 50px;
    border: none;
    font-size: 20px;
}

#visualization {
	width: 800px;
	height:450px;
	float: left;
	border-top: 0;
	text-align: center;
    border-right: 0px;
}

#filters {
	width: 276px;
	height:600px;
	float: right;
}

#infobar {
	width: 800px;
	height:150px;
	float: left;
  border-top: 0px;
  border-right: 0px;
}



#lollogo {
    width: 10%;
    height: 20%;
    margin-top: 15px;
}

.slider-range {
    margin: 20px;
}

.caption {
	font-size: 12px;
  margin: 5px auto;
}

#credit {
  margin-top: 30px;
}
