* {
	font-family: 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

img {
	opacity: 0.9;
}

img:hover {
	opacity: 1;
}

#akhila, #glass, #location {
	opacity: 1;
}

body {
	background-color: #ffffff;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

div {
	background-color: #ffffff;
}

.center {
	margin-right: auto;
	margin-left: auto;
	z-index: 0;
}

#topbar {
	width: 954px;
	height: 155px;
	overflow: hidden;
}

#info {
	margin-top: 10px;
	float: left;
}

#akhilaraju {
	float: left;
}

#media {
	overflow: hidden;
	float: left;
}

#mediaimgs {
	margin-top: 55px;
}

#email {
	margin-left: 24px;
}

#linkedin {
	margin-left: 6px;
}

#twitter {
	margin-left: 6px;
}

#welresproj {
	width: 954px;
	overflow: hidden;
}

#welcome {
	width: 524px;
	float: left;
	margin: 5px;
}

#resproj {
	margin: 5px;
	overflow: hidden;
}

#resume {
	display: block;
}

#projects {
	display: block;
	margin-top: 9px;
}

#body_whitebox {
	width: 954px;
	height: 1102px;
	margin-top: -16px;
}

#gitakhilapic {
	width: 957px;
	margin-bottom: 5px;
}

#github {
	margin-right: 5px;
}

#photos {
	margin-left: 5px;
}

footer {
	background-color: #3982A5;
	color: white;
	padding: 30px;
	margin-top: 30px;
}