body {
	background-color: #eeecec;
}

img {
	height: auto;
	width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {color:#0F1961;}      /* unvisited link */
a:visited {color:#0F1961;}  /* visited link */